@import 'src/styles.scss';

.search-bar {
  @include hoverAndFocusTransition; //mixin transition declared in styles.scss
  @include activeTransition($base-color-lighter); //mixin transition declared in styles.scss

  transition: all 0.4s;

  @media (min-width: $breakpoint-iphone) {
    & {
      height: 10rem;
    }
  }
  @media (min-width: $breakpoint-ipad) {
    & {
      height: 7.5rem;
    }
  }
  @media (min-width: $breakpoint-desktop) {
    & {
      height: 5rem;
    }
  }


  border-radius: 50rem;
  border: 0;
  background-color: $base-color-light;
  width: 100%;

  font-size: 2.5rem;
  text-indent: 4rem;


}
